<a href="https://colab.research.google.com/github/jrDhiraj/machineLearning/blob/main/SPAM_DETECTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('/content/mail_data.csv')

In [5]:
df.shape

(5572, 2)

In [6]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [9]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [10]:
df = df.drop_duplicates(keep='first')

Convert into lowercase

In [13]:
df = df.apply(lambda x: x.astype(str).str.lower())

Remove punctuations

In [15]:
df = df.apply(lambda x: x.str.replace('[^\w\s]',''))

In [16]:
import string

df = df.apply(lambda x: x.str.translate(str.maketrans('', '', string.punctuation)))

Remove Number

In [17]:
df = df.apply(lambda x: x.str.replace('\d+', ''))

In [21]:
import re
df = df.apply(lambda x: x.str.replace(r'\d+', ''))

In [24]:
df['Message'] = df['Message'].str.replace(r'\b\d+\w*\b', '', regex=True)

In [25]:
df['Message'].tail()

5567    this is the  time we have tried  contact u u h...
5568                  will ü b going to esplanade fr home
5569    pity  was in mood for that soany other suggest...
5570    the guy did some bitching but i acted like id ...
5571                            rofl its true to its name
Name: Message, dtype: object

Remove emogies

In [26]:
from bs4 import BeautifulSoup

def remove_emojis(text):
    soup = BeautifulSoup(text, 'html.parser')
    return soup.get_text()

df['Message'] = df['Message'].apply(remove_emojis)

In [34]:
import emoji

def remove_emojis(text):
    return emoji.demojize(text)

df['Message'] = df['Message'].apply(remove_emojis)

Requirement already satisfied: emoji in /usr/local/lib/python3.12/dist-packages (2.15.0)

In [30]:
import emoji

def remove_emojis(text):
    return emoji.demojize(text)

df['Message'] = df['Message'].apply(remove_emojis)

In [36]:
df['Message'].tail()

5567    this is the  time we have tried  contact u u h...
5568                  will ü b going to esplanade fr home
5569    pity  was in mood for that soany other suggest...
5570    the guy did some bitching but i acted like id ...
5571                            rofl its true to its name
Name: Message, dtype: object

Remove stopwords

In [37]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Download stopword list (only once)
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [40]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Download stopword list (only once)
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('punkt_tab') # Download the missing resource

# Convert 'Message' column to string type to handle any non-string values
df['Message'] = df['Message'].astype(str)

# Tokenize the 'Message' column
df['Message'] = df['Message'].apply(word_tokenize)

# Remove stop words
stop_words = set(stopwords.words('english'))
df['Message'] = df['Message'].apply(lambda x: [word for word in x if word not in stop_words])

# Join tokens back into a string
df['Message'] = df['Message'].apply(lambda x: ' '.join(x))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

0       go jurong point crazy available bugis n great ...
1                                 ok lar joking wif u oni
2       free entry wkly comp win fa cup final tkts may...
3                     u dun say early hor u c already say
4             nah dont think goes usf lives around though
                              ...
5567    time tried contact u u £ pound prize claim eas...
5568                          ü b going esplanade fr home
5569                          pity mood soany suggestions
5570    guy bitching acted like id interested buying s...
5571                                       rofl true name
Name: Message, Length: 5157, dtype: object

In [43]:
from nltk.tokenize import word_tokenize
df = df.apply(lambda x: x.astype(str).str.lower())
df['Message'] = df['Message'].apply(word_tokenize)

In [44]:
df['Message'].head()

0    [go, jurong, point, crazy, available, bugis, n...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, wkly, comp, win, fa, cup, final,...
3        [u, dun, say, early, hor, u, c, already, say]
4    [nah, dont, think, goes, usf, lives, around, t...
Name: Message, dtype: object

In [46]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

lemmatizer = WordNetLemmatizer()

# Apply lemmatization
df['Message'] = df['Message'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in x]))

df['Message'].head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

0    go jurong point crazy available bugis n great ...
1                              ok lar joking wif u oni
2    free entry wkly comp win fa cup final tkts may...
3                  u dun say early hor u c already say
4             nah dont think go usf life around though
Name: Message, dtype: object

In [49]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['Label'] = encoder.fit_transform(df['Category'])  # or whatever your label column name is
df = df.drop('Category', axis=1)
df.head()

                                             Message  Label
0  go jurong point crazy available bugis n great ...      0
1                            ok lar joking wif u oni      0
2  free entry wkly comp win fa cup final tkts may...      1
3                u dun say early hor u c already say      0
4           nah dont think go usf life around though      0

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=5000)
X = tfidf.fit_transform(df['Message']).toarray()

y = df['Label']

In [51]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

model = MultinomialNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.9709302325581395

Classification Report:
               precision    recall  f1-score   support

           0       0.97      1.00      0.98       896
           1       1.00      0.78      0.88       136

    accuracy                           0.97      1032
   macro avg       0.98      0.89      0.93      1032
weighted avg       0.97      0.97      0.97      1032

In [53]:
def predict_message(message):
    message = message.lower()
    message = ' '.join([lemmatizer.lemmatize(word) for word in word_tokenize(message)])
    vector = tfidf.transform([message]).toarray()
    pred = model.predict(vector)
    return 'Spam' if pred[0] == 1 else 'Ham'

print(predict_message("You won a free vacation! Click here now"))

Ham